@import "../../style/variable.module.scss";

.home-section {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  height: 100vh;
  width: 100vw;

  .home-title-container {
    height: 100%;
    width: 100%;

    .home-title {
      font-family: $title-font;
      font-size: 20rem;
      color: $brown;
      text-shadow: 0 0 0.5rem $white;
    }
  }

  .home-mole-container {
    display: flex;
    justify-content: center;
    align-items: baseline;
    height: 100%;
    padding: 7rem 0;
  }

  .home-btn-container {
    display: flex;
    justify-content: center;
    align-items: first baseline;
    height: 100%;
    width: 100%;
  }
}
