@import "../../style/variable.module.scss";

.modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;

  .modal {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 30%;
    height: 30%;
    padding: 2rem;
    background-color: $white;
    border-radius: 1rem;
    box-shadow: 0 0 0.5rem $brown;

    .modal-close-btn {
      position: absolute;
      top: 0;
      right: 0;
      border: none;
      cursor: pointer;

      i {
        font-size: 3rem;
        padding: 2rem;
        color: $brown;
        transition: all 0.3s ease-in-out;

        &:hover {
          transform: scale(1.5);
        }
      }
    }

    .modal-title {
      font-family: $title-font;
      font-size: 5rem;
      color: $brown;
    }

    .modal-input {
      width: 100%;
      height: 100%;
      border: none;
      border-bottom: 0.2rem solid $brown;
      background-color: transparent;
      font-family: $regular-font;
      font-size: 2rem;
      color: $brown;
      text-align: center;

      &:focus {
        outline: none;
      }
    }
  }
}
